<nav class="admin-nav navbar navbar-expand navbar-light">
    <div class="navbar-nav">
        <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
        <a routerLink="explorer" routerLinkActive="active" class="nav-item nav-link">Cuisinee</a>
        <a routerLink="tradition" routerLinkActive="active" class="nav-item nav-link">Tradition</a>
        <a routerLink="scavenger" routerLinkActive="active" class="nav-item nav-link">Scavenger</a>
        <a routerLink="legend" routerLinkActive="active" class="nav-item nav-link">Legend</a>
    </div>
</nav>