<h1 class="title">Bantayan Island: Beauty, History, Culture.</h1>
<div class="row">
  <div class="column" *ngFor="let legend of legends">
    <div class="container">
      <div class="sub-container">
        <img [src]="'assets/legendsPic/' + legend.picture" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text">{{ legend.description }}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="a">
      <h2>{{ legend.title }}</h2>
    </div>
  </div>
</div>
